<!DOCTYPE html>
<html>
  <head>
    <title>Travel App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <span>Weather Forecast</span>
    </header>
    <form class="custom-container">
      <label for="country">location Name</label>
      <input type="text" id="country" name="country" />
      <label for="date">Date</label>
      <input type="date" id="date" name="date" />
      <button id="getLocation" type="submit">Get Details</button>
    </form>
    <div class="locationDetails custom-container">
      <h1>Weather forecast:</h1>
      <ul class="forecastList"></ul>
      <ul class="galleryList"></ul>
    </div>
    <footer></footer>
  </body>
</html>
